.login-page {
  width: 100%;
  height: 100%;
  background: #2f0c8d;

  &__login-form {
    margin: 0 auto;
  }
}

.login-form {
  background: #2f0c8d;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;

  &__input {
    margin: 16px 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__label {
    color: #ffffff;
    font-size: 1.25em;
    display: block;
    margin: 0 0 8px 0;
  }

}