.nav {
  flex: 1 1 auto;

  &__icon {
    display: none;
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
  }

  &__item a {
    color: #ffffff;
  }

  @media screen and (max-width: 768px) {
    .nav__list {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: #c0a2a2;
      display: flex;
      flex-direction: column;
      z-index: 3;
      transform: translate3d(-100%, 0, 0);
      transition: all 0.3s ease 0s;
      &.active{
        transform: translate3d(0, 0, 0);
      }
      .nav__item a {
        font-size: 1.5em;
      }
    }
    .icon-menu {
      display: block;
      width: 30px;
      height: 18px;
      cursor: pointer;
      z-index: 5;
      position: relative;

      span {
        transition: all 0.3s ease 0s;
        top: 8px;
        left: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #ffffff;

        &:first-child {
          top: 0;
        }

        &:last-child {
          top: auto;
          bottom: 0;
        }
      }

      &__list {
        display: none;
      }

      &.active {
        span {
          background-color: red;
          transform: scale(0);

          &:first-child {
            transform: rotate(45deg);
            top: 8px;
          }

          &:last-child {
            transform: rotate(-45deg);
            bottom: 8px;
          }
        }
      }
    }
  }
}


