.messages {
  flex: 1 1 auto;
  height: 90%;
  display: flex;
  justify-content: space-between;
  & aside{
    flex: 0 0 25%;
    max-height: 100%;
  }
  @media screen and (max-width: 768px) {
    .messages__friends {
      display: none;
    }
  }
  &__message{
    margin: 8px;
    max-width: 80%;
    border-radius: 12px;
    padding: 8px 12px;
    word-break: break-word;
    &_my {
      background: #61dafb;
      align-self: flex-end;
    }
    &_other {
      background: #1F2041;
      color: white;
      align-self: flex-start;
    }
  }


  &__chat {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 2em;
    color: #000000;
  }

  &__all-messages {
    flex: 1 1 auto;
    width:100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }

  &__form {
    width: 100%;
    flex: 0 1 auto;
    display: flex;
    align-items: center;
  }
}

