.message-item {
  width: 100%;
  height: 15%;
  padding: 12px 0;
  outline: 1px solid black;

  &_my {
    background: #61DAFB;
    color: #000;
  }

  &_other {
    background: #1F2041;
    color: #fff;
  }

  &__title {
    font-size: 1.5em;
  }

  &__text {
    font-size: 1.25em;
  }
}