.header {
  padding: 16px 24px;
  flex: 0 1 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(180deg, #01B2FF 0%, #016DFF 100%);

  h2 {
    color: #fff;
  }

  @media screen and (max-width: 768px) {
    &__logo {
      display: none;
    }
  }
}
