.input {
  background: #fff;
  border: 2px solid #1F2041;
  max-height: 36px;
  border-radius: 8px;
  color: #1F2041;
  padding: 8px 12px;
  flex: 0 1 100%;
  margin: 8px;
}

.input::placeholder {
  color: #1F2041;
}