.friends {
  background-color: #2f0c8d;
  opacity: 0.7;
  flex: 0 0 10%;
  &__title{
    color: #ffffff;
  }
  &__find{
    width: 100%;
    background: #1F2041;
    color: #ffffff;
    height: 40px;
  }
}